# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
env/
.venv/
virtualenv/

# Django
db.sqlite3
/staticfiles
/media

# Secrets
.env

# PythonAnywhere
*.log

# OS
.DS_Store
Thumbs.db
# SQLite
db.sqlite3
*.sqlite3

# Django local DB path
TravelWorld/db.sqlite3