{% extends 'base.html' %}
{% block content %}
<div class="container mt-9">
    <div class="alert alert-warning shadow">
        <h4 class="alert-heading">Are you sure?</h4>
        <p>Do you really want to delete <strong>{{ branch.branch_name }}</strong>?</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Yes, Delete</button>
            <a href="{% url 'branch_list' %}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>
{% endblock %}
